.backHome {
    background: #2F80ED;
}
.back {
    position: relative;
    width: 1400px;
    height: 900px;
    background: #2F80ED;
}
.homeGreeting {
    /* position: absolute;
    width: 730px;
    top: 30px; */

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    color: #FAC05E;
}
.bioButton {
    /* position: absolute; */
    width: 250px;
    height: 60px;
    
    background: #FAC05E;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin: 0 auto;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 41px;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F2F2F2;
}
.eduButton {
    width: 250px;
    height: 60px;
    left: 144.33px;
    top: 222px;

    background: #2AB7CA;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin: 0 auto;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 41px;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F2F2F2;
}
.skillButton {
    width: 250px;
    height: 60px;
    left: 1019.33px;
    top: 222px;

    background: #EE6352;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin: 0 auto;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 41px;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F2F2F2;
}
.expButton {
    width: 250px;
    height: 60px;
    left: 1019.33px;
    top: 222px;

    background: #F2994A;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin: 0 auto;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 41px;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F2F2F2;
}
.conButton {
    width: 250px;
    height: 60px;
    left: 1019.33px;
    top: 222px;

    background: #59CD90;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin: 0 auto;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 41px;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F2F2F2;
}
.yellowBox {
    width: 1440px;
    height: 107px;

    background: #F2C94C;
    border: 1px solid #8C8C8C;
    bottom: 0;
}
.head {
    margin-left: 125px; 
    margin-top: 5px;
    width: 239px;
    height: 54px;
    left: 125px;
    top: 97px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 113%;
    /* or 54px */

    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;

    color: #FAC05E;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bioBox {
    width: 999px;
    height: 295px;
    left: 79px;
    top: 200px;

    background: #ECC44A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    justify-content: center; align-items: center;

    
}
.bioText {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 113%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 26em;
    /* or 41px */

    letter-spacing: -0.04em;
    display: block;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.eduText {
    width: 567px;
    height: 510px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 113%;
    /* or 41px */

    letter-spacing: 0.01em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.expText {
    width: 567px;
    height: 547px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 450;
    font-size: 36px;
    line-height: 113%;
    /* or 41px */

    letter-spacing: 0.01em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.conHeads {
    width: 180px;
    height: 60px;
    margin-left: 130px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 113%;
    /* or 54px */

    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;

    color: #FAC05E;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
.conText {
    width: 374px;
    height: 41px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 113%;
    /* identical to box height, or 41px */

    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;

    text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
}
.skillBox {
    width: 226px;
    height: 556px;
    margin-left: 107px;
    text-align: center;

    background: #F2C94C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
}
.transition-fade {
    transition: .4s;
    opacity: 1;
}
html.is-animating .transition-fade {
    opacity: 0;
}
img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}
  /* Shake animation from w3schools */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
button { 
    transition: all .2s ease-in-out; 
}
button:hover { 
    transform: scale(1.1); 
}
.modalButtonText {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 41px;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
a:hover {
    text-decoration: none;
}