{% extends "profilepage/basechild.html" %}
{% block content %}
{% load static %}
    <body class="back">
        <div style="margin-top:43px; margin-left: 60px;">
            <a href="{% url 'profile-home' %}">
                <img src="{% static 'profilepage/images/backspace.png' %}">
            </a>
        </div>
        <div class="head">
            Biography
        </div>
        <div class="row" style="align-items: center; justify-content: center; margin-top: 80px;">
            <div class="bioBox">
                <div class="bioText">
                    My name is Ahmad Izzudin Alifyandra. I was born in Jakarta,<br> 
                    Indonesia on May 19th 2001. I’ve had a high passion in<br> 
                    computer science and programming since I was a child. I am<br>
                    now a student in my 2nd semester studying computer science<br> 
                    in Universitas Indonesia’s computer science faculty. 
                </div>
            </div>
            <div style="margin-left: 25px;">
                <img src="{% static 'profilepage/images/bioMe2.png' %}">
            </div>
        </div>
        <div class="yellowBox fixed-bottom"></div>
{% endblock content %}