{% extends "profilepage/basechild.html" %}
{% block content %}
{% load static %}
    <body class="back">
        <div style="margin-top:43px; margin-left: 60px;">
            <a href="{% url 'profile-home' %}">
                <img src="{% static 'profilepage/images/backspace.png' %}">
            </a>
        </div>
        <div class="head">
            Education
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="eduText" style="margin-left: 100px;">
                Formal Early Education in UK<br><br>
                SMAN 70 Jakarta (High School)<br><br>    
                “Introduction to AI for 
                Computer Vision” Workshop           
                by Algoritma Academy<br><br>
                Computer Science Double Degree in Universitas Indonesia & Pending Parter University
            </div>
            <div class="eduText" style="margin-left: 120px;">
                2007 - 2011 <br><br>
                2016 - 2019 <br><br><br>
                2020 <br><br><br><br>
                2019 - ongoing
            </div>
            <div style="margin-left: -240px; margin-top: -10px;">
                <img src="{% static 'profilepage/images/uk.png' %}"><br>
                <div>
                    <a href="http://sman70-jkt.sch.id/70/" target="_blank">
                        <img style="margin-top: 15px; width: 67.3px; height: 71px;" src="{% static 'profilepage/images/Logo_SMA_Negeri_70_Jakarta.png' %}">
                    </a> <br><br>
                </div>
                <a href="https://algorit.ma/" target="_blank">
                    <img src="{% static 'profilepage/images/algoritma.png' %}" 
                    style="margin-top: 8px; width: 204.87px; height: 94px;">
                </a> <br><br>
                <a href="https://www.cs.ui.ac.id/" target="_blank">
                    <img src="{% static 'profilepage/images/fasilkom3.png' %}"
                    style="width: 299.63px; height: 182px; margin-top: 8px;">
                </a>
            </div>
        </div>
        <div class="yellowBox fixed-bottom"></div>
        
{% endblock content %}