{% extends "profilepage/basechild.html" %}
{% block content %}
{% load static %}
    <body class="back">
        <div style="margin-top:43px; margin-left: 60px;">
            <a href="{% url 'profile-home' %}">
                <img src="{% static 'profilepage/images/backspace.png' %}">
            </a>
        </div>
        <div class="head">
            Experience
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="expText" style="margin-left: 100px;">
                Merchandise staff for “Setara 70” <br><br>
                Equipment staff for Fasilkom UI<br> batch 2019 gathering <br><br>
                Event staff for Fasilkom UI’s<br> social project <br><br>
                Publication staff for Fasilkom<br> UI’s Open House event <br><br>
                Public Relations staff for Perak<br> Fasilkom UI
            </div>
            <div style="margin-left: 20px; margin-top: -10px; text-align: center;">
                <div>
                    <a href="http://sman70-jkt.sch.id/70/" target="_blank">
                        <img style="margin-top: -10px; width: 84.36px; height: 89px;" src="{% static 'profilepage/images/Logo_SMA_Negeri_70_Jakarta.png' %}">
                    </a> <br><br>
                </div>
                <div>
                    <a href="https://www.cs.ui.ac.id/" target="_blank">
                        <img style="margin-top: 50px; width: 220px; height: 240px;" src="{% static 'profilepage/images/fasilkom1.png' %}">
                    </a>
                </div>
            </div>
            <div class="expText" style="margin-left: 90px; width: 300px;">
                2018<br><br>
                2019<br><br><br>
                2019<br><br><br>
                2019<br><br><br>
                2020
            </div>
        </div>
        <div class="yellowBox fixed-bottom"></div>
{% endblock content %}