{% extends "profilepage/basechild.html" %}
{% block content %}
{% load static %}
    <body class="backHome text-center" style="position: relative;">
        <div style="justify-content: center; align-items: center; margin-top:45px; text-align: center; z-index: 1;position: relative;">
            <div>
                <h1 class="homeGreeting" style="justify-content: center; align-items: center;">
                    Hello!<br>
                    My name is Alif<br>
                    Welcome to my profile page.
                </h1>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-1"></div>
                <div class="col-md-3" style="text-align: center;">
                    <a href="{% url 'profile-education' %}">
                        <button class="eduButton">Education</button>
                    </a>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <a href="{% url 'profile-bio' %}">
                        <button class="bioButton">Biography</button>
                    </a>
                </div>
                <div class="col-md-3" style="text-align: center;">
                    <a href="{% url 'profile-skills' %}">
                        <button class="skillButton">Skills</button>
                    </a>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <a href="{% url 'profile-experience' %}">
                        <button class="expButton">Experience</button>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'profile-contact' %}">
                        <button class="conButton">Contact</button>
                    </a>
                </div>
                <div class="col-md-2"></div>
            </div>           
        </div>

        <div class="fixed-bottom" style="z-index: 0;position: fixed;">
            <img style="max-width: 18%; max-height: 18%;" src="{% static 'profilepage/images/frontMe.png' %}">
            <div class="yellowBox">
            </div>
        </div> 
{% endblock content %}